* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    overflow-x: hidden;
    color:black;
    font-family:'Opens Sans',helvetica;  
    height:100%;
    width:101%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #8f57fd;
    font-family: 'Mulish', sans-serif;
}

body > h2 {
    font-size:18px;
    color:#fff;
    margin-left:30px;
    margin-top:20px;
}

header {
    background-color: #8f57fd;
    width:100%;
    height:80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    header img {
        width:200px;
        margin:10px 0;
        margin-left:30px;
    }

    .header__menu {
        margin-right:50px;
    }

    
    .header__menu ul {
        display:none;
        list-style: none;
        position:relative;
        align-items: center;
        text-align: right;
        padding:10px 0;
    }

    .header__menu:hover ul, ul:hover {
        display: block;
    }


        .header__menu ul li {
            margin:10px 0px;
        }

            .header__menu ul li a {
            text-decoration:none;
            color:#fff; 
            }

            .header__menu ul li a:hover {
                text-decoration: underline;
            }

    .header__menu--profile {
        display:flex;
        flex-direction: row;
        align-items:center;
        height:80px;
    }

        .header__menu--profile img {
            width:50px;
            height:50px;
            margin-right:10px;
        }

        .header__menu--profile p {
            color:#fff;
        }    

.section1 {
    height:300px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.main {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__title {
    font-size: 25px;
    color:#fff;
    margin:15px 0;
}

.input {
    width:70%;
    height:50px;
    border: 2px solid #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding:10px 20px;
    background-color:rgba(255,255,255,0.1);
    outline:none;
    color:#fff;
}

.input::-webkit-input-placeholder { color: white; } 

.carousel {
    width:100%;
    overflow: scroll;
    padding:0 30px;
    position:relative;
}

.carousel__container {
    white-space: nowrap;
    margin:70px 0px;
    padding-bottom:0px;
}

.carousel-item {
    background-color: #fff;
    width:200px;
    height:250px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    overflow:hidden;
    margin:0 8px;
    display:inline-block;
    cursor: pointer;
    transition:450ms;
    transform-origin: center left;
    /*queempiecedesdelaizquierda*/-webkit-transition:450ms;
    -moz-transition:450ms;
    -ms-transition:450ms;
    -o-transition:450ms;
    -webkit-transition:450ms;
   
    transform:scale(1); /* esto se le tiene que aplicar al elemento sin hover a pesar de que sea redundante, para evitar el parpadeo al acercar el ratón, también se le pude añadir  */
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
}

.carousel-item:hover ~ .carousel-item{
    transform:translate3d(100px,0,0);
    -webkit-transform:translate3d(100px,0,0);
    -moz-transform:translate3d(100px,0,0);
    -ms-transform:translate3d(100px,0,0);
    -o-transform:translate3d(100px,0,0);
}



.carousel__container:hover .carousel-item:hover {
    transform:scale(1.5);
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -ms-transform:scale(1.5);
    -o-transform:scale(1.5);
    opacity:1;
}

.carousel__container:hover .carousel-item {
    opacity:0.3;
} /* esto es para que se pongan en oscuro los que no están sobre el cursor */

.carousel-item img {
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover; /* para que la imagen no quede alargada hacia un lado, sino que mantenga sus proporciones, esto sirve si le hubieramos dado  200 de width y 250 de height*/
    width:100%;
    height:100%;
    position:relative;
}    

.carousel-item__details {
    display:flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    background:linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%); /*desdearriba,quehayaunagradientede0.9*/
    font-size: 10px;
    opacity:0;
    transition: 450ms opacity;
    -webkit-transition: 450ms opacity;
    -moz-transition: 450ms opacity;
    -ms-transition: 450ms opacity;
    -o-transition: 450ms opacity;
    padding:10px;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0; 
}

.carousel-item__details:hover {
    opacity: 1;
}

.carousel-item__details img {
    background-repeat: no-repeat;
    width:25px;
    height:25px;
}

.carousel-item p {
    color:#fff;
}

::-webkit-scrollbar {
    width: 8px; 
    height: 8px;   
    background:rgba(255,255,255,.2);
    border-radius: 4px;
}

::-webkit-scrollbar:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
